html {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans'
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}


main {
  background-color: #F6F5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 85%;
  border-radius: 20px;
  position: relative;
}

main-nav {
 background-color: #F6F5E5;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-bottom: #EBEBDE solid 3px;
 width: 80%;
 height: 15%;
}

#navigation {
 display: flex;
 flex-direction: row;
 gap: 2vw;
}


#navigation div {

}

#navigation div:first-child {
 margin-right: auto;
}

#navigation div:last-child {
margin-left: auto;
}





#navigationButtons button, #contentButtons button { 
 transition: border-color 0.3s linear;
 color: #000000;
 background-color: #768948;
 border: #607744 solid 4px;
 font-family: 'DM Sans';
}

#navigationButtons button:hover, #contentButtons button:hover { 
 background-color: #607744;
 border: #768948 solid 4px;
}

change-colour {
 position: absolute;
 width: 100%;
}

change-colour {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 20%;
}
